{:paths ["src" "resources"]
 :deps  {org.clojure/clojure {:mvn/version "1.10.3"}}
 :aliases
        {:run-m     {:main-opts ["-m" "phoenix"]}
         :run-x     {:ns-default phoenix
                     :exec-fn    greet
                     :exec-args  {:name "Clojure"}}
         :test      {:extra-paths ["test"]
                     :extra-deps  {org.clojure/test.check {:mvn/version "1.1.0"}
                                   lambdaisland/kaocha    {:mvn/version "1.0.861"}}}
         :linter    {:extra-deps {clj-kondo/clj-kondo {:mvn/version "RELEASE"}}}
         :formatter {:extra-deps {cljfmt/cljfmt {:mvn/version "0.8.0"}}}
         :uberjar   {:replace-deps {com.github.seancorfield/depstar {:mvn/version "2.0.216"}}
                     :exec-fn      hf.depstar/uberjar
                     :exec-args    {:aot        true
                                    :jar        "phoenix.jar"
                                    :main-class "phoenix"
                                    :sync-pom   true}}}}
